    .exercisecontainermodel #article { max-width: 580px; max-width: 58rem;}
    .exercisecontainermodel .menubreadcrumbs {display: none;}

    .mathexerciseengine .box { border-top:5px solid #000; background-color:#f6f3f3; margin:10px 0 0; position:relative; color:black; padding:15px; }
    .mathexerciseengine .box > div { border-right: 1px solid #d6d2d2; border-left: 1px solid #d6d2d2; }
	.exercisecontainermodel .mathexerciseengine .box { border-bottom: 1px solid #d6d2d2; }
    
    
    html body .mathexerciseengine .button { margin:10px 0 0; width:auto; height:auto; text-align:center; color:#fff; font-size:15px; font-family: 'Camphor W01 Bold'; display:inline-block; padding:10px; border:1px solid #11a523; text-shadow:0 1px 1px #666666; background:#13d329; /* Old browsers */ }
	.lte8 .mathexerciseengine .button { filter:dropshadow(color=#666666, offx=0, offy=1); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d535', endColorstr='#12c727',GradientType=0 ); /* IE6-8 */ }
	.ie9 .mathexerciseengine .button { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxZDUzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMmM3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
    
	.mathexerciseengine .button:hover {
		background:#1fc42f; /* Old browsers */
		background:-moz-linear-gradient(top,  #1fc42f 0, #12b720 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0,#1fc42f), color-stop(100%,#12b720)); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top,  #1fc42f 0,#12b720 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top,  #1fc42f 0,#12b720 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top,  #1fc42f 0,#12b720 100%); /* IE10+ */
		background:linear-gradient(to bottom,  #1fc42f 0,#12b720 100%); /* W3C */ }
	.lte8 .mathexerciseengine .button:hover { filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fc42f', endColorstr='#12b720',GradientType=0 ); /* IE6-8 */ }
	.ie9 .mathexerciseengine .button:hover { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYzQyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMmI3MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
	
    input::-ms-clear { display: none; }
    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
	
    .mathexerciseengine .button.gray { color:#000; font-weight:normal; text-shadow:none; 
        background:#fff; 
        background: linear-gradient(to bottom, #ebebeb 0%, #fff 100%); 
        background: -webkit-linear-gradient(to bottom, #ebebeb 0%, #fff 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
        border: 1px solid #c9c9c9; 
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.9), 0px 1px 1px rgba(0,0,0,.08); }
  	
    .lte8 .mathexerciseengine .button.gray { filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */ }
    .ie9 .mathexerciseengine .button.gray { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
    
	.mathexerciseengine .button.gray:hover { background:#fff; /* Old browsers */ }
	.lte8 .mathexerciseengine .button.gray:hover { filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */ }
    .ie9 .mathexerciseengine .button.gray:hover { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
    
	html .mathexerciseengine .button.wide { width:500px; }

	.mathexerciseengine .button.selected,
	.mathexerciseengine .button.selected:hover { 
		color:white; 
		-webkit-box-shadow:inset 0 3px 3px 0 #666161;
		-moz-box-shadow:inset 0 3px 3px 0 #666161; 
		box-shadow:inset 0 3px 3px 0 #666161;
		background:#7b7a7a; /* Old browsers */
 	}
	.lte8 .mathexerciseengine .button.selected,
	.lte8 .mathexerciseengine .button.selected:hover { color: #fff;	background:#7b7a7a; filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7a7a', endColorstr='#7b7a7a',GradientType=0 ); /* IE6-8 */ }
    .ie9 .mathexerciseengine .button.selected,
	.ie9 .mathexerciseengine .button.selected:hover { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjN2I3YTdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg1ODM4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); }
    
	.mathexerciseengine .button.incorrect.selected,
	.mathexerciseengine .button.incorrect.selected:hover { -webkit-box-shadow:inset 0 3px 3px 0 #A72823; box-shadow:inset 0 3px 3px 0 #A72823;
		background: #d33110; 
		background: -moz-linear-gradient(top,  #d33110 0, #e23412 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#d33110), color-stop(100%,#e23412)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d33110 0,#e23412 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d33110 0,#e23412 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d33110 0,#e23412 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #d33110 0,#e23412 100%); /* W3C */ }
	
    .lte8 .mathexerciseengine .button.incorrect.selected,
	.lte8 .mathexerciseengine .button.incorrect.selected:hover { filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d33110', endColorstr='#e23412',GradientType=0 ); /* IE6-8 */ }
    .ie9 .mathexerciseengine .button.incorrect.selected,
	.ie9 .mathexerciseengine .button.incorrect.selected:hover { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzMzExMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjM0MTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }

	.mathexerciseengine .button.correct.selected,
	.mathexerciseengine .button.correct.selected:hover { -webkit-box-shadow: inset 0 3px 3px 0 #15AC15; box-shadow: inset 0 3px 3px 0 #15AC15;
		background: #13cd29; 
		background: -moz-linear-gradient(top, #13cd29 0, #15d82c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#13cd29), color-stop(100%,#15d82c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #13cd29 0,#15d82c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #13cd29 0,#15d82c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #13cd29 0,#15d82c 100%); /* IE10+ */
		background: linear-gradient(to bottom, #13cd29 0,#15d82c 100%); /* W3C */ }
	.lte8 .mathexerciseengine .button.correct.selected,
	.lte8 .mathexerciseengine .button.correct.selected:hover { filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#13cd29', endColorstr='#15d82c',GradientType=0 ); /* IE6-8 */ }
    .ie9 .mathexerciseengine .button.correct.selected,
	.ie9 .mathexerciseengine .button.correct.selected:hover { background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzY2QyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNWQ4MmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }
    
	.mathexerciseengine .navbuttons { margin:15px 0 0; }
	.mathexerciseengine .interaction .navbuttons .button,
	.mathexerciseengine .interaction .navbuttons .button.submit { margin:10px 0 0; }
	.mathexerciseengine .interaction .navbuttons .button.show { font-size:15px; line-height:18px; }

    #article .mathexerciseengine.header .button,
    #article .mathexerciseengine.list .button { margin:2px 0 6px; padding: 2px 10px; font-family: 'Camphor W01 Medium'; line-height: 21px;}
    
	#article .mathexerciseengine.list ul { margin:0; }
	#article .mathexerciseengine.list > ul { border:none; }
	#article .mathexerciseengine.list > ul > li { padding:10px;}
    #article .mathexerciseengine.list > ul > li > ul { border-width:1px 0; margin:0; }
    #article .mathexerciseengine.list > ul > li > ul > li { padding:0; border: 1px solid #ccc; margin-top: 6px; }

	#article .mathexerciseengine.list > ul > li > ul > li > div { padding:5px; line-height:30px; background-color: white;}
    #article .mathexerciseengine.list > ul > li a { font-family: 'Camphor W01 Regular'; font-size: 20px; }
    #article .mathexerciseengine.list > ul > li > ul > li a { font-size:16px; }

    #article .mathexerciseengine.list ul li ul li ul { border:none; margin: 0 -1px; }
    #article .mathexerciseengine.list ul li ul li ul li { padding:5px 6px 5px 13px; }
    #article .mathexerciseengine.list ul li ul li ul li a { font-weight:normal; font-size:14px; }
    #article .mathexerciseengine.list ul li ul li ul li a.button { color:#fff; }
	#article .mathexerciseengine.list ul li ul li ul li {  margin-top: 0; padding: 4px 6px 0px 20px; }
	#article .mathexerciseengine.list ul li ul li ul li ul { border:none; margin:0px -6px 0px -20px; }
	#article .mathexerciseengine.list ul li ul li ul li ul li { padding:0px 6px 6px 40px; line-height: 16px;}

	#article .mathexerciseengine ul { margin: 0; list-style: none; border:none; -webkit-border-radius:3px; border-radius:3px; line-height: 24px;}
	#article .mathexerciseengine.header ul { height:0; overflow:hidden; display:none; }
	#article .mathexerciseengine.list ul ul { height:0; overflow:hidden; display:none; }
	#article .mathexerciseengine ul li { margin-left: 0; list-style-type: none;}
    



	#article .mathexerciseengine.list > ul > li:first-child { border-top-style:solid; }
	#article .mathexerciseengine ul li.box:first-child { border-top-style:solid; }
	#article .mathexerciseengine .row > div:first-child { float:left; font-size:16px; line-height:31px; }
	#article .mathexerciseengine .row > div + div { float:right; }
	html .mathexerciseengine ul .button { padding:5px 10px; }

    .mathexerciseengine.header a { font-family: 'Camphor W01 Bold'; }
	.mathexerciseengine.header .button + a { margin:0 0 0 15px; }
	
	.mathexerciseengine.exercise { padding:0; margin-top: 30px; margin-top: 3rem;}
	.mathexerciseengine.exercise .box { padding:0; }
	.mathexerciseengine.exercise .breadcrumb { font-size:16px; font-family: 'Camphor W01 Medium'; line-height:22px; padding:12px 15px; text-transform:none; border-bottom:1px solid #cfcfcf; }
	
	.mathexerciseengine .monitor { padding:6px 15px 3px; }
	.mathexerciseengine .monitor a { display:inline-block; text-align:center; width:37px; height:37px; background: white; background:url(/exerciseEngine/app/images/sprite.bullet.png) no-repeat; background-position:-49px 0; }
	.mathexerciseengine .monitor a.correct { background-position:-49px -45px; }
	.mathexerciseengine .monitor a.incorrect { background-position:-49px -91px; }
	.mathexerciseengine .monitor a.current { background-position:0 0; }
	.mathexerciseengine .monitor a.current.correct { background-position:0 -45px; }
	.mathexerciseengine .monitor a.current.incorrect { background-position:0 -91px; }
	
	.mathexerciseengine .definition { background-color:#fff;  padding:25px 30px; }
	.mathexerciseengine .definition h1 { font-size:25px; line-height:30px; text-transform:none; margin-bottom:10px; letter-spacing: normal; }
	.mathexerciseengine .definition p { margin:10px 0 0; font-size:18px; line-height: 25px;}
	.mathexerciseengine .definition p + img { margin:20px 0 5px; }
	
	.mathexerciseengine .chart {margin:0 auto; width:510px; height:510px; border:10px solid #e7e7e7; background:#fff; position:relative; }
	
    .mathexerciseengine .chart.correct { border-color:#1fe235; }
	.mathexerciseengine .chart.incorrect { border-color:#f41c1c; }

	.mathexerciseengine .interaction { padding:20px 9px 35px; }
	.mathexerciseengine .interaction input { text-align:right; border:1px solid #cfcfcf; color:#333; font-size:30px; display:block; width:290px; padding:6px 10px; -webkit-border-radius:3px; border-radius:3px; }
	.mathexerciseengine .interaction select { -webkit-appearance: menulist-button; height:48px; font-size:20px; border:1px solid #cfcfcf; padding:11px 5px;  width:311px; -webkit-border-radius:3px; border-radius:3px; }
	

	.mathexerciseengine .interaction input.correct,
	.mathexerciseengine .interaction select.correct { background-color:#43E053; }
	.mathexerciseengine .interaction input.incorrect,
	.mathexerciseengine .interaction select.incorrect { background-color:#fb8e8e; }

	.mathexerciseengine .interaction .cols { margin:10px 0 0; display:block; }
 	.mathexerciseengine .interaction .cols > * { display:block; float: left;  margin:0; }
	.mathexerciseengine .interaction .cols > span { width:170px; padding:13px 0 0 12px; font-size:18px; line-height:25px; }
	.mathexerciseengine .interaction .cols > span:first-child { text-align:right; padding:13px 12px 0 0; }
	.mathexerciseengine .interaction .cols.func > input { width:75px; margin-bottom: 10px; -webkit-appearance: none;}
	.mathexerciseengine .interaction .cols.func > span { width:auto; padding:13px 12px 0; }

	.mathexerciseengine .interaction .button { display: block; width: 311px; line-height:24px; font-family: Camphor W01 Medium; cursor: pointer; }
	.mathexerciseengine .interaction .button.gray { font-size:18px; }
	.mathexerciseengine .interaction .button.submit { font-size:25px; margin:25px 0 0; }

	.mathexerciseengine .interaction .additional { margin:20px 0 0; }

	.mathexerciseengine .info { margin:30px 20px 0; padding: 25px 30px 20px 30px; -webkit-border-radius:3px; border-radius:3px; }
	.mathexerciseengine .info h2 { text-align:center; font-size:28px; line-height:30px; text-transform:none; margin: 0; pading:0; border: none; }
	.mathexerciseengine .info h2 .correct { color:#1bcd2f; }
	.mathexerciseengine .info h2 .incorrect { color:#f41c1c; }
	.mathexerciseengine .info p { font-size:16px; line-height:22px; }

	.mathexerciseengine .info .button.gray.show { font-size:14px; line-height:17px; margin:0 auto 20px; width:auto; padding:7px 15px; }

	.center { float:left; position:relative; left:50%; }
	.center > div { position:relative; left:-50%; }
	
    .mathexerciseengine .expand > span { display:block; float:left; }
    .mathexerciseengine .expand > span:first-child { margin:6px 8px 0 8px; border-top:6px solid transparent; border-bottom:6px solid transparent; border-left:6px solid #2ca1b7; }
	.mathexerciseengine .expand.expanded > span:first-child { margin:9px 6px 0 4px; border-left:6px solid transparent; border-right:6px solid transparent; border-top:6px solid #2ca1b7; }
	
	#article .mathexerciseengine.list > ul > li > ul > li .expand > span:first-child { margin:10px 7px 0 7px; border-width:5px; }
    #article .mathexerciseengine.list > ul > li > ul > li .expand > span + span {font-size: 18px;}
    #article .mathexerciseengine.list > ul > li > ul > li > ul > li { margin-left: 1px; margin-right: 1px; background-color: #fff; border-top: 1px solid #e1e1e1;}
    #article .mathexerciseengine.list > ul > li > ul > li > ul .expand > span + span {font-size: 16px;}
	#article .mathexerciseengine.list > ul > li > ul > li .expand.expanded > span:first-child  { margin:11px 5px 0 4px; border-width:5px; }

	.mathexerciseengine .cssarrow { position:relative; background:#fff; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; }
	.mathexerciseengine .cssarrow:after, 
	.mathexerciseengine .cssarrow:before { top:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }
	.mathexerciseengine .cssarrow:after { border-top-color:#fff; border-width:15px; left:50%; margin-left:-15px; margin-top:-1px; }
	.mathexerciseengine .cssarrow:before { border-top-color:#cfcfcf; border-width:15px; left:50%; margin-left:-15px; }
	
	.mathexerciseengine .cssarrow.up:after, 
	.mathexerciseengine .cssarrow.up:before { bottom:100%; top:inherit; }
	.mathexerciseengine .cssarrow.up:after { border-bottom-color:#fff; border-top-color:transparent; margin-bottom:-1px;  }
	.mathexerciseengine .cssarrow.up:before { border-bottom-color:#cfcfcf; border-top-color:transparent; left:50%; }

    .mathexerciseengine .info.cssarrow.up {border: 1px solid #cfcfcf;}

	.mathexerciseengine .chart { margin-top: 10px!important; }
	

	
	.nextbutton > * { display:block; float:left; cursor:pointer; }
	.nextbutton > :first-child { width:20px; height:20px; margin:0 5px 0 0; background-image:url(/app/images/sprite.bullet.png); background-position:-2px -139px; }
	.nextbutton:hover { background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 100%); }

	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.lte8 .clearfix { zoom: 1; display: block; }


    @media only screen and (max-width: 560px) {
        
	.exercisecontainermodel .menubreadcrumbs + #article  {padding: 0;}
	.mathexerciseengine.exercise {margin-top:0;}

	.exercisecontainermodel #header {border-bottom: none;}
	
	.mathexerciseengine .box > div { border-right: none; border-left: none; }


    }

    @media only screen and (max-width: 699px) {  

		.mathexerciseengine .interaction .cols { margin: 0; }
		.mathexerciseengine .interaction .cols:first-child { margin-top:10px; }
        .mathexerciseengine .interaction .cols > span:first-child {width: 100%;}
        .mathexerciseengine .interaction .cols.func > span {width: 100%; padding: 0; margin: 2px 0 5px; -webkit-appearance: none; }
        .mathexerciseengine .interaction .cols.func > input  {width: 100%; margin-bottom: 2px; padding-right: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

        .mathexerciseengine .definition {padding: 20px 12px; }
        .mathexerciseengine .interaction .button {width: 100%;}
        .mathexerciseengine .interaction input {width: 100%; padding: 5px 5px 5px 0; font-size:28px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
        .mathexerciseengine .interaction .cols > span:first-child {text-align: left; padding: 6px 15px 3px 0;}
        .mathexerciseengine .interaction .cols > span {padding: 0px; width: 100%; font-size: 18px; padding-top: 3px; }
        .mathexerciseengine .interaction .cols {padding: 0 12px 0px 12px;}

        .mathexerciseengine .interaction { padding: 10px 0 0;}
        .mathexerciseengine .interaction .navbuttons {padding: 0px 12px 30px 12px;}
        .mathexerciseengine .interaction .navbuttons .button, 
        .mathexerciseengine .interaction .navbuttons .button.submit {line-height: 24px;}

        .center {width: 100%;}
        .center > div {width: 100%;}
        .mathexerciseengine .interaction select {width: 100%; height: 45px;}
        .mathexerciseengine .chart { width:250px; height:250px; }
        .mathexerciseengine .interaction input + span {text-align:right;}

        .mathexerciseengine .box:first-child {margin: 0;}

        .mathexerciseengine .definition p {font-size: 16px; line-height: 21px;}
        .mathexerciseengine .definition h1 {font-size: 20px; line-height: 25px;}

        .mathexerciseengine .info { padding: 20px 15px 15px; margin: 30px 12px 0; }
        html .mathexerciseengine .button.wide {width: 100%;}

        .exercisecontainermodel #article { width: auto; min-height: 0; }
        .mathexerciseengine.list ul li ul li ul li { padding: 4px 6px 0px 6px; }
        #article .mathexerciseengine.list > ul > li {padding: 10px 6px 10px 6px;}
        #article .mathexerciseengine.list ul li ul li ul li {padding: 2px 4px 2px 6px;}
        #article .mathexerciseengine.list > ul > li > ul > li .expand > span + span {font-size: 15px; font-family: 'Camphor W01 Medium'; max-width:90%; }
        #article .mathexerciseengine.list > ul > li > ul > li > ul .expand > span + span {font-size: 13px;}

		.mathexerciseengine.exercise .breadcrumb { padding:10px 12px 8px; font-size: 14px; line-height:18px; }
		.mathexerciseengine .monitor { padding-left:6px; padding-right:6px; }
	}

    @media only screen and (max-width: 950px) and (min-width: 700px)  {
        
        .exercisecontainermodel .menubreadcrumbs + #article { padding: 0 0 40px 0px;}
        .exercisecontainermodel #article { min-width: 641px;}
        .mathexerciseengine .interaction .cols > span { width: 140px; }
      
    }

    @media only screen and (max-width: 1180px) and (min-width: 950px)  {
  
        .exercisecontainermodel #article { max-width: 660px; max-width: 66rem;}
        .exercisecontainermodel  .menubreadcrumbs + #article {padding: 0 0 40px 40px;}
        .mathexerciseengine.exercise {max-width: 641px;}
		.mathexerciseengine .interaction .cols > span { width: 140px; }


	}

    @media only screen and (max-height:650px) {
    
       .exercisecontainermodel #article { max-width: 660px; max-width: 66rem;}
    
    }


    @media only screen and (min-device-pixel-ratio: 2), 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1)
{
	    .mathexerciseengine .monitor a,
        .mathexerciseengine .monitor a.correct,
    	.mathexerciseengine .monitor a.incorrect,
	    .mathexerciseengine .monitor a.current,
    	.mathexerciseengine .monitor a.current.correct
    	.mathexerciseengine .monitor a.current.incorrect
	
         { background-image:url(/exerciseEngine/app/images/sprite.bullet@2x.png); background-size: 94px 170px; }
}